socialengine/temporary/log/main.log
wordpress/wp-content/uploads/*
wordpress/wp-content/uploads/*/*
wordpress/wp-content/uploads/*/*/*
wordpress/wp-content/uploads/*/*/*/*
wordpress/wp-content/uploads/*/*/*/*/*
wordpress/wp-content/uploads/*/*/*/*/*/*