.overlay-visible{
	display: block; 
	transition: opacity 250ms; 
	-webkit-transition: opacity 250ms; 
	opacity: 1;
}
.week-count{
	text-transform: capitalize;
}
.patient-column h4{
	min-height:48px;
}