.tablet .tile-view.ui-listview {
  overflow: hidden;
  margin-top: 0;
  text-align: center;
}

.tablet .tile-view.ui-listview li.search-result {
  margin-bottom: 5px;
}

.tablet .tile-view.ui-listview li.list_item {
  border-radius: 2px;
  border-width: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-top: 2px;
  overflow: hidden;
  position: static;
  vertical-align: top;
  width: 180px;
}
.tablet .tile-view.ui-listview li.list_item .ui-li-count {
  position: static;
}

.tablet .tile-view.ui-listview li.list_item > .ui-btn-inner {
  height: 260px;
  position: static;
  text-align: center;
}

.tablet .tile-view.ui-listview li.list_item .ui-li-heading {
  margin: 0.1em 0;
  overflow: hidden;
  clear: both;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 156px;

}

.tablet .tile-view.ui-listview li.list_item .ui-li-desc {
  margin: 0;
}

.tablet .tile-view.ui-listview li.list_item a.ui-link-inherit {
  padding: 0.7em 10px;
}

.tablet .tile-view.ui-listview li.list_item img.ui-li-thumb {
  margin-right: 0;
  top: 0;
  left: 0;
  margin-top: 0;
  position: static;
  height: 155px;
  width: 155px;
}

.tablet .tile-view.ui-listview .list_item .ui-btn-inner a.ui-link-inherit {
  display: inline-block;
}

.tablet .tile-view.ui-listview  li.list_item .ui-btn-inner.ui-li .ui-li-desc.ui-li-aside,
.tablet .tile-view.ui-listview .list_item .ui-btn-inner.ui-li .ui-icon {
  display: none;
}

.tablet .tile-view.ui-listview .list_item .ui-li-link-alt {
  position: static;
  width: 100%;
  height: 34px;
}

.tablet .tile-view.ui-listview .list_item .ui-li-link-alt .ui-btn {
  position: static;
  margin: 0;
  display: inline-block;
  margin-top: 4px;
}

.tablet #im-users-container {
  padding-left: 65px;
}

.tablet .tile-view.ui-listview .list_item .ui-li-link-alt .ui-btn-inner {
  position: static;
  padding-bottom: 2px;
  text-align: center;
}

.tablet .tile-view.ui-listview .list_item .ui-li-link-alt .ui-btn-inner .ui-icon {
  position: static;
  margin: 3px 0 0 2px;
  line-height: 25px;
  width: 100%;
}

.tablet .tile-view.ui-listview .list_item .icon-play-circle {
  color: #EEEEEE;
  display: inline;
  font-size: 37px;
  left: 69px;
  opacity: 0.61;
  position: absolute;
  text-shadow: 0 1px 0 #111111;
  top: 75px;
}

.tablet .tile-view.ui-listview .list_item:hover .icon-play-circle {
  opacity: 0.8;
}

.tablet .conversation-item > .conversations,
.tablet .conversation-options > .user-name {
  margin-left: 70px;
}

.tablet .conversation-item > .conversation-input {
  padding-left: 70px;
  -moz-box-sizing: padding-box;
  box-sizing: border-box;
}
.tablet .ui-page[board="mini"] .long-title19,
.tablet .ui-page[board="mini"] .long-title18,
.tablet .ui-page[board="mini"] .long-title17 {
  padding-left: 80px !important;
}
.tablet .long-title19 {
  font-size: 19px !important;
}
.tablet .long-title18 {
  font-size: 18px !important;
}
.tablet .long-title17 {
  font-size: 17px !important;
}
.tablet .component-feed .timestamp{
  font-weight: 300;
  font-size: 14px;
}

.tablet #core_board_index_rewrite .page-title
{
  display: none;
}